<main class="main">
  <div class="content">
    <div class="left-side">
      <app-angular-logo></app-angular-logo>
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <p>Main title: <span>{{ 'main-title' | translate }}</span></p>
      <p>Available languages: {{ getAvailableLanguageCodes() }}</p>
      <app-language-selector [items]="languageSelectorList" (languageSelectionChangeEvent)="onLanguageSelectionChange($event)"></app-language-selector>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <app-links></app-links>
    </div>
  </div>
</main>


<router-outlet />
