<h1><span i18n="@@hello.label">{{ 'hello.label' | translate }}</span>, {{ title }}</h1>
<h2 class="shift-up"><span>{{ subtitle }}</span></h2>
<h3 class="shift-up"><span i18n="@@check-new-text">{{ 'check-new-text' | translate }}</span></h3>
<p><span>{{ 'congrats.label' | translate }}</span>. 🎉</p>
<p><span>{{ 'main-title.label' | translate }}</span></p>
<p><span>{{ 'avail-lang.label' | translate }}</span>: {{ getAvailableLanguageCodes() }}</p>
<app-language-selector
  class="dropdown-height"
  [items]="languageSelectorList"
  (languageSelectionChangeEvent)="onLanguageSelectionChange($event)"></app-language-selector>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="textbox">
    <label for="profile-first-name"><span>{{ 'first-name.label' | translate }}</span>: </label>
    <input id="profile-first-name" type="text" formControlName="firstName" autocomplete="off"/>
  </div>
  <div class="textbox">
    <label for="profile-last-name"><span>{{ 'last-name.label' | translate }}</span>: </label>
    <input id="profile-last-name" type="text" formControlName="lastName" autocomplete="off"/>
  </div>
  <div class="element-height">
    <p>{{ 'complete-form.label' | translate }}</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>

{{ displayName }}
