<h1><span>{{ 'hello.label' | translate }}</span>, {{ title }}</h1>
<h2 class="shift-up"><span>{{ subtitle }}</span></h2>
<p><span>{{ 'congrats.label' | translate }}</span>. 🎉</p>
<p><span>{{ 'main-title.label' | translate }}</span>: <span>{{ 'main-title' | translate }}</span></p>
<p><span>{{ 'avail-lang.label' | translate }}</span>: {{ getAvailableLanguageCodes() }}</p>
<app-language-selector
  class="element-height"
  [items]="languageSelectorList" 
  (languageSelectionChangeEvent)="onLanguageSelectionChange($event)"></app-language-selector>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="element-height">
    <label for="first-name">{{ 'first-name.label' | translate }}: </label>
    <input id="first-name" type="text" formControlName="firstName" />
  </div>
  <div class="element-height">
    <label for="last-name">{{ 'last-name.label' | translate }}: </label>
    <input id="last-name" type="text" formControlName="lastName" />
  </div>
  <div class="element-height">
    <p>{{ 'complete-form.label' | translate }}</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>

{{ displayName }}
